body{
	background-color:rgb(202, 241, 255);
	text-align: center;
}
h1 {
	color: rgb(34, 109, 221);
   }
p{
	font-size: 18px;
	/* padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 5px;
	padding-left: 50px; */
	padding: 5px 50px 5px 50px;
	border: 3px double rgb(34, 109, 221);
	border-radius: 15px;
}
main{
	display: flex;
	justify-content: center;	
	align-items: center;
	flex-direction: column;
}
button{
	display: inline-block;
	color: rgb(13, 90, 13);
	background-color: rgb(255, 244, 233);
	border-radius: 15px;
	border-color:  rgb(252, 230, 209);
	box-shadow: 3px 3px 5px grey;
}
button:hover{
	background-color: rgb(253, 178, 108);
	border-color:  rgb(253, 178, 108);
	color:black;
}
nav{
	word-spacing: 4px;
}
.hyper-links:hover{
	color:rgb(111, 12, 150);
}
.flash-message{
	background-color: purple;
	color: white;
	border: 2px, solid, black;
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
}
.scroll-box{
	height:400px;
	width:400px;
	border:1px solid rgb(34, 109, 221);
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}
.joke-space{
	margin-bottom: 20px;
}
.comment-box{
	width: 360px;
	height: 200px;
	border: 1px solid red;
	padding: 10px;
	margin: 10px;
}
a{
	color: rgb(34, 109, 221);
	/* text-decoration gets rid of the underline */
	text-decoration: none; 
}
a:visited{
	color:rgb(13, 90, 13);
}
.user-links:hover{
	color:rgb(111, 12, 150);
}
footer{
	position: fixed;
	left: 0;
  	bottom: 0;
	width: 100%;
	text-align: center;
}
#delete-button{
	display: inline-block;
}
hr{
	color:rgb(34, 109, 221);
}
