body{
	background-color:rgb(202, 241, 255);
	text-align: center;
}
h1 {
	color: rgb(34, 109, 221);
	text-align: center;
   }
p{
	font-size: 18px;
	/* padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 5px;
	padding-left: 50px; */
	padding: 5px 5px 5px 5px;
	border: 3px double rgb(34, 109, 221);
	border-radius: 15px;
	text-wrap: balance;
}
.instructions{
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	p{
		max-width: 600px;
	}
}
main{
	display: flex;
	justify-content: center;	
	/* align-items: center; */
	/* flex-direction: column; */
}
.scroll-box{
	position: fixed;
	height:600px;
	width:800px;
	border:1px solid rgb(34, 109, 221);
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}
.joke-space{
	margin-top: 20px;
	/* margin-bottom: 20px; */
}
button{
	display: inline-block;
	color: rgb(13, 90, 13);
	background-color: rgb(255, 244, 233);
	border-radius: 15px;
	border-color:  rgb(252, 230, 209);
	box-shadow: 3px 3px 5px grey;
}
button:hover{
	background-color: rgb(253, 178, 108);
	border-color:  rgb(253, 178, 108);
	color:black;
}
#danger-button{
	height: 50px;
	border-color: rgb(180, 23, 23);
	background-color: rgb(206, 4, 4);
	color: white;
}
nav{
	word-spacing: 4px;
}
.hyper-links:hover{
	color:rgb(111, 12, 150);
}
.flash-message{
	/* background-color: purple; */
	/* color: white;
	border: 2px, solid, black;
	padding: 10px;
	margin: 15px;
	border-radius: 5px; */
}
.error{
	color: white;
	background-color: darkred;
	border-color: maroon;
}
.success{
	color: white;
	background-color: green;
	border-color: green;
}
.sad{
	color: white;
	background-color: darkblue;
	border-color: darkblue;
}
.comment-box{
	width: 360px;
	height: 200px;
	border: 1px solid red;
	padding: 10px;
	margin: 10px;
}
a{
	color: rgb(34, 109, 221);
	/* text-decoration gets rid of the underline */
	text-decoration: none; 
}
a:visited{
	color:rgb(13, 90, 13);
}
.user-links:hover{
	color:rgb(111, 12, 150);
}
footer{
	position: fixed;
	left: 0;
  	bottom: 0;
	width: 100%;
	text-align: center;
}
#delete-button{
	display: inline-block;
}
hr{
	color:rgb(34, 109, 221);
}
#username{
	color:rgb(34, 109, 221);
}
.aligning-content{
	display: flex; /* put contents in a flex box */
	flex-direction: row; /* puts it all in one row */
	justify-content: center; /* puts the contents in the center of the page */
	align-items: center; /* aligns the items in the flex box so the text area and buttons arent wide */
	padding-top: 10px; /* gives padding above the box */
	gap: 10px; /* gap spaces between each of the elements(used for parent classes) */
}
/* Title page */
.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 20px;
	position: relative;
}

.title{
	margin: 0 auto; /* Used to center the header h1 in this case */
	position: absolute; /* allows elements to be positioned based on an absolute point on the page, relative to its parent element. This ensures the element's position is the same even if the page is resized or the content is changed. */
	left: 50%; /* moves the left edge of an element to the center of its containing block. It's often used in conjunction with transform: translateX(-50%) to horizontally center an element within its container. */
	transform: translateX(-50%);
}
.user-actions{
	display: flex;
	align-items: center;
	gap: 10px;
}
.success2{
	color: green;
	margin: 0;
}
#mrgn-lft{
	margin-left: 3px;
}
.moderator-box{
	display: flex;
	border:2px solid rgb(34, 109, 221);	
}