body{
	background-color:rgb(202, 241, 255);
	text-align: center;
}
h1 {
	color: blue;
   }
p{
	font-size: 18px;
	/* padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 5px;
	padding-left: 50px; */
	padding: 5px 50px 5px 50px;
	border: 3px double lightskyblue;
	border-radius: 15px;
}
main{
	display: flex;
	justify-content: center;	
	align-items: center;
	flex-direction: column;
}
button{
	border-radius: 15px;
	box-shadow: 3px 3px 5px grey;
}
.flash-message{
	background-color: purple;
	color: white;
	border: 2px, solid, black;
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
}
.scroll-box{
	height:400px;
	width:400px;
	border:1px solid #0a33e9;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}
.joke-space{
	margin-bottom: 20px;
}
.delete-button{
	border-radius: 15px;
	box-shadow: 3px 3px 5px grey;
}
.comment-box{
	width: 360px;
	height: 200px;
	border: 1px solid red;
	padding: 10px;
	margin: 10px;
}