a{
	color: rgb(34, 109, 221);
	/* text-decoration gets rid of the underline */
	text-decoration: none; 
}
a:visited{
	color:rgb(13, 90, 13);
}
.hyper-links:hover{
	color:rgb(111, 12, 150);
}
.nav-links{
	display: inline-flex;
	list-style: none;
	gap: 20px;
	margin: 0;
	padding: 0;
}
.nav-links li a{
	position: relative;
	color: black;
	transition: var(--color_font) ease-in-out;
}
.nav-links li a::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -4px;
	left: 0px;
	background-color: blue;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s;
}
.nav-links li a:hover::after{
	transform:scaleX(1);
}
.navbar{
	top: 0;
	position: sticky;
	background-color: #fff;
	padding: 1rem 2rem;

}
.navbar:last-child{
	margin-right: auto;
}
.user-links:hover{
	color:rgb(111, 12, 150);
}