<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jokes Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
</head>
<body>
    <header>
        <h1> Create Account </h1>
        <div class="subtitle">
        <p>Create an account to upload jokes and comment on other people's jokes</p>
        </div>
        <hr>
    </header>
    <nav>
        <div class="hyperlinks">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/create_account">Create Account</a>
        </div>
        <hr>
    </nav>
       <form method="POST">
        <label>Create Username:</label>
        <input type="text" name="username" required autocomplete="off"><br><br>
        <label>Create Password:</label>
        <input type="password" name="password" required autocomplete="off"><br><br>
        <input type="submit" value="Create Account!">
       </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message"> 
                    <p>{{ messages[0] }}</p>
                </div>
            {% endif %}
        {% endwith %} 
    <footer>
        <hr>
        <p>&copy; 2025 Joke Hub - Created by Sam Scott </p>
    </footer>
</body>
</html>
