<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jokes Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <header>
        <h1> Jokes Webpage </h1>
        <h2>Under Major construction!!</h2>
        <!-- Displays username on the homepage if they are logged in -->
        {% if username %}
            <p>Welcome {{ username }}!</p>
            <!-- Logout button to log out user -->
            <form action="{{ url_for('logout') }}" method="GET">
                <button type="submit">Logout</button> 
            </form>
        {% endif %}
        <div class="subtitle">
            <p>Upload your best joke and get it rated!</p>
        </div>
        <hr>
    </header>
    <!-- This shows all the flash messages that show on the homepage -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message"> 
                <p>{{ messages[0] }}</p>
            </div>
        {% endif %}
    {% endwith %} 

    <nav>
        <a class="hyper-links" href="/">Home</a>
        <a class="hyper-links" href="/login">Login</a>
        <a class="hyper-links" href="/create_account">Create_Account</a>
        <a class="hyper-links" href="/submit_joke">Submit_Joke</a>
        <a class="hyper-links" href="/search">Search</a>
        <a class="hyper-links" href="/delete_account">Delete_Account</a>
        {% if session.get('admin') %}
        <a class="hyper-links" href="/moderate">Moderate</a>
         {% endif %}
        <hr>
    </nav>
    <p> Create an account in order to submit a joke. The joke needs to be approved through
        the moderator, <em> <b> me Sam Scott, </b> </em> before it is officially uploaded to the web. Feel
    welcomed to peruse the website and rate some jokes that you encounter! Thank you! </p>
    <hr>
    <main>
        <!-- Scroll Box -->
            <div class="scroll-box">
                <!-- Display jokes in the scroll box -->
                {% for joke in jokes %}
                    <div class="joke-space">
                        {{ loop.index }}. <a class="user-links" href="{{ url_for('user_detail', user_id=joke.user_id) }}"><strong>{{ joke['username'] }}</a></strong>: {{ joke['content'] }}<br>
    
                         Rating:
                         {% set full_stars = joke['rating'] | int %}
                         {% set half_stars = 1 if joke['rating'] - full_stars >= 0.5 else 0 %}
                         {% set empty_stars = 5 - full_stars - half_stars %}
                         {% for i in range(full_stars) %}
                            <span style="color:goldenrod";>★</span>   
                         {% endfor %}
                         {% if half_stars %}
                            <span style="color:goldenrod";>⯨</span>
                         {% endif %}
                         {% for i in range(empty_stars) %}
                            <span style="color:goldenrod";>☆</span> 
                         {% endfor %}

                         <a href="{{ url_for('joke_detail', joke_id=joke.id) }}">
                            <button type="submit">View Comments</button>
                         </a>
                         {% if session.get('admin') %}
                         <form id="delete-button" method="POST" action="{{ url_for('delete_joke', joke_id=joke.id) }}">
                            <button type="submit">Delete</button>
                            </form>
                         {% endif %}
                         <hr>
                    </div>
                {% endfor %} 
                <!-- End of the list of jokes -->
            </div>
    </main>
    <footer>
        <p>&copy; 2025 Joke Hub - Created by Sam Scott </p>
    </footer>
</body>
</html>
