<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joke Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=css/joke_detail.css) }}">
</head>
<body>
    <a href="{{ url_for('index') }}">&larr Back to all jokes</a>
    <hr>

    <h2>Joke Details</h2>
    <p><strong>Author:</strong> {{ joke.username }}</p>
    <p><strong>Joke:</strong> {{ joke.content }}</p>
    <p><strong>Rating:</strong> {{ joke.rating or 0 }}/5</p>

    <hr>
    <h3>Comments</h3>
    {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <strong> {{ comment.username }}</strong> {{ comment.rating }}/5:
                <em> comment.comment </em>
            </div>
        {% endfor %}
    {% else %}
            <p>No comments yet!</p>
    {% endif %}
     <footer>
        <hr>
        <p>&copy; 2025 Joke Hub - Created by Sam Scott </p>
    </footer>
</body>
</html>