<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
        <h1>Login</h1>
        <div class="aligning-content">
        <form method="POST">
            <label>Username:
            <input type="text" name="username" required autocomplete="off"><br><br>
            </label>
            <label>Password:
            <input id="mrgn-lft" type="password" name="password" required><br><br>
            </label>
            <button type="submit" value="Login">Login!</button>
        </form>
        </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-message"> 
                            <p>{{ messages[0] }}</p>
                        </div>
                    {% endif %}
                {% endwith %} 
    
    <footer>
        <p>&copy; 2025 Joke Hub - Created by Sam Scott </p>
    </footer>
</body>
</html>