<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Search Users to Find Their Jokes on the Web!</h1>
    <div class="aligning-content">
    <a href="{{ url_for('index') }}">&larr; Back to the homepage</a>
    
    <form method="POST" action="{{ url_for('search') }}">
        <input type="text" name="username" placeholder="Search users on the web" autocomplete="off" required>
        <button type="submit">Search</button>
    </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messsages"> 
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} 

    <footer>
        <p>&copy; 2025 Joke Hub - Created by Sam Scott </p>
    </footer>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>