<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Best Rated Jokes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top_ten_jokes.css') }}">
</head>
    <body>
    <header>
        <ol>
            <li> Best Joke </li>
            <li> 2nd Best Joke </li>
            <li> 3rd Best Joke </li>
            <li> 4th Best Joke </li>
            <li> 5th Best Joke </li>
            <li> 6th Best Joke </li>
            <li> 7th Best Joke </li>
            <li> 8th Best Joke </li>
            <li> 9th Best Joke </li>
            <li> 10th Best Joke </li>
        </ol>
    </header>
    </body>