<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <a href="{{ url_for('search') }}">&larr; Back to search</a>
    <hr>

    <h2>Jokes by {{ username }}</h2>
    
        {% for joke in jokes %}
            
            <div>
                <p><strong>Joke:</strong> {{ joke.content }}</p>
                <p><strong>Rating:</strong> {{ joke.rating }}</p>
                <hr>
            </div>
        {% endfor %}

    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message"> 
                    <p>{{ messages[0] }}</p>
                </div>
            {% endif %}
        {% endwith %} 

    <footer>
        <p>&copy; 2025 Joke Hub - Created by Sam Scott </p>
    </footer>
</body>
</html>